
.category{
    color:blue;
    border-radius:Spx; 
    padding : 1em;
    
}

.title {
    line-height: 2em;
    /* line- */
    font-size: 2.0rem;
    font-weight: normal;
    letter-spacing: 3px;
}
.ant-table-small > .ant-table-content > .ant-table-body{
    margin: 0;
}