
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 10em;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 30px;
  color:green
}

/* .welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
} */

.list {
  font-size: 1.5em;
  margin-top: 2em;
  list-style: none;
  line-height: 2em;
}

/* .list code {
  background: #f7f7f7;
} */
